[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp
[submodule "thirdparty/git2/libgit2"]
	path = thirdparty/libgit2
	url = https://github.com/libgit2/libgit2.git
	ignore = untracked
[submodule "thirdparty/ssh2/libssh2"]
	path = thirdparty/libssh2
	url = https://github.com/libssh2/libssh2.git
[submodule "thirdparty/mbedtls"]
	path = thirdparty/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
