# SConstruct db
*.dblite

# Godot Serialisations
api.json

# Visual Studio Cache
.vs/

# VSCode Cache
.vscode/

# Binaries
bin/
build/
*.dll
*.obj
*.so
*.dylib
*.exe
*.os
*.out
.import/

# Binaries for distribution
!/demo/bin/
!libgitapi.dll
!libgitapi.so
!libgitapi.dylib
!git2.lib
!libgit.a

