# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Ignore some files when exporting to a ZIP.
/.github/           			export-ignore
/godot-cpp/           			export-ignore
/godot-git-plugin/           	export-ignore
/thirdparty/           			export-ignore
/.gitattributes     			export-ignore
/.gitignore         			export-ignore
/.gitmodules         			export-ignore
/api.ci.json         			export-ignore
/build_openssl_universal_oxs.sh	export-ignore
/SConstruct						export-ignore
