# SConstruct db
*.dblite

# Godot ignores
demo/.godot/

# Godot Serialisations
extension_api.json
!/ci/extension_api.json

# Visual Studio Cache
.vs/

# VSCode Cache
.vscode/

# YCM Stuff
.ycm_extra_conf.py

# Mac stuff
.DS_Store

# Binaries
build/
bin/
macos/
linux/
win64/
*.lib
*.a
*.obj
*.os
*.ilk
*.pdb
!thirdparty/openssl/*
