# SConstruct db
*.dblite

# Godot Serialisations
extension_api.json
!/ci/extension_api.json

# Visual Studio Cache
.vs/

# VSCode Cache
.vscode/

# Mac stuff
.DS_Store

# Vim
*.swp

# Binaries
__pycache__/
/bin/
*.lib
*.a
*.obj
*.os
*.ilk
*.pdb
*.pyc
*.zip

# Misc
*.log
